<div class="modal-header">
    <div class="modal-title">
        <i nz-icon nzType="form" class="mr-sm"></i>
        <span *ngIf="hFuncId">编辑隐藏功能: {{hFunc.name}}</span>
        <span *ngIf="!hFuncId">添加隐藏功能</span>
    </div>
</div>

<form nz-form #createOrEditModalForm="ngForm" (ngSubmit)="save()" autocomplete="off">
    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="4" nzFor="No" nzRequired>
            编号
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="7" [nzErrorTip]="nameValidationTpl" nzHasFeedback>
            <input nz-input #nameInput="ngModel" name="No" [(ngModel)]="hFunc.no" placeholder="编号" id="No" required
                minlength="5" maxlength="5">
            <ng-template #nameValidationTpl let-control>
                <validation-messages [formCtrl]="control"></validation-messages>
            </ng-template>
        </nz-form-control>

        <nz-form-label nz-col [nzSm]="4" nzFor="No" nzRequired>
            功能状态
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="7" [nzErrorTip]="nameValidationTpl" nzHasFeedback>
                <nz-radio-group [(ngModel)]="hFunc.status" [nzButtonStyle]="'solid'" [nzSize]="'small'">
                        <label nz-radio-button nzValue="large"><span>可用</span></label>
                        <label nz-radio-button nzValue="default"><span>停用</span></label>
                        <label nz-radio-button nzValue="small"><span>标配</span></label>
                      </nz-radio-group>
            <ng-template #nameValidationTpl let-control>
                <validation-messages [formCtrl]="control"></validation-messages>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="4" nzFor="Name" nzRequired>
            名称
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="18" [nzErrorTip]="surnameValidationTpl" nzHasFeedback>
            <input nz-input #surnameInput="ngModel" name="Name" [(ngModel)]="hFunc.name" placeholder="名称" id="Name"
                required maxlength="24">
            <ng-template #surnameValidationTpl let-control>
                <validation-messages [formCtrl]="control"></validation-messages>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="4" nzFor="No" nzRequired>
            类型
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="4" [nzErrorTip]="nameValidationTpl" nzHasFeedback>
                <nz-select>
                        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                        <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                        <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
                      </nz-select>
            <ng-template #nameValidationTpl let-control>
                <validation-messages [formCtrl]="control"></validation-messages>
            </ng-template>
        </nz-form-control>

        <nz-form-label nz-col [nzSm]="4" nzFor="No" nzRequired>
            类型参数
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="3" [nzErrorTip]="nameValidationTpl" nzHasFeedback>
            <input nz-input #nameInput="ngModel" name="No" [(ngModel)]="hFunc.no" placeholder="功能状态" id="" required
                maxlength="5">
            <ng-template #nameValidationTpl let-control>
                <validation-messages [formCtrl]="control"></validation-messages>
            </ng-template>
        </nz-form-control>

        <nz-form-label nz-col [nzSm]="4" nzFor="No" nzRequired>
            默认值
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="3" [nzErrorTip]="nameValidationTpl" nzHasFeedback>
            <input nz-input #nameInput="ngModel" name="No" [(ngModel)]="hFunc.no" placeholder="功能状态" id="" required
                maxlength="5">
            <ng-template #nameValidationTpl let-control>
                <validation-messages [formCtrl]="control"></validation-messages>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="4" nzFor="Name" nzRequired>
            功能描述
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="18" [nzErrorTip]="surnameValidationTpl" nzHasFeedback>
            <textarea nz-input #surnameInput="ngModel" name="Name" [(ngModel)]="hFunc.name" placeholder="名称" id="Name"
                required maxlength="24"></textarea>
            <ng-template #surnameValidationTpl let-control>
                <validation-messages [formCtrl]="control"></validation-messages>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="4" nzFor="Name" nzRequired>
            风险说明
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="18" [nzErrorTip]="surnameValidationTpl" nzHasFeedback>
            <textarea nz-input #surnameInput="ngModel" name="Name" [(ngModel)]="hFunc.name" placeholder="名称" id="Name"
                required maxlength="24"></textarea>
            <ng-template #surnameValidationTpl let-control>
                <validation-messages [formCtrl]="control"></validation-messages>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="4" nzFor="Name" nzRequired>
            开启脚本
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="18" [nzErrorTip]="surnameValidationTpl" nzHasFeedback>
            <textarea nz-input #surnameInput="ngModel" name="Name" [(ngModel)]="hFunc.name" placeholder="名称" id="Name"
                required maxlength="24"></textarea>
            <ng-template #surnameValidationTpl let-control>
                <validation-messages [formCtrl]="control"></validation-messages>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
        <nz-form-label nz-col [nzSm]="4" nzFor="Name" nzRequired>
            关闭脚本
        </nz-form-label>
        <nz-form-control nz-col [nzSm]="18" [nzErrorTip]="surnameValidationTpl" nzHasFeedback>
            <textarea nz-input #surnameInput="ngModel" name="Name" [(ngModel)]="hFunc.name" placeholder="名称" id="Name"
                required maxlength="24"></textarea>
            <ng-template #surnameValidationTpl let-control>
                <validation-messages [formCtrl]="control"></validation-messages>
            </ng-template>
        </nz-form-control>
    </nz-form-item>


</form>

<div class="modal-footer">
    <button nz-button [nzType]="'default'" type="button" (click)="close($event)" [disabled]="saving">
        {{"Cancel" | localize}}
    </button>
    <button nz-button [nzType]="'primary'" type="submit" [disabled]="!createOrEditModalForm.form.valid || saving"
        [nzLoading]="saving">
        <i nz-icon nzType="save" *ngIf="!saving"></i> {{"Save" | localize}}
    </button>
</div>