<form nz-form #createOrEditModalForm="ngForm" (ngSubmit)="save()" autocomplete="off">
<div class="modal-header">
    <div class="modal-title">
        <i nz-icon nzType="form" class="mr-sm"></i>
        <span *ngIf="hFuncId">编辑隐藏功能: {{hFunc.name}}</span>
        <span *ngIf="!hFuncId">添加隐藏功能</span>
    </div>
</div>

<nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="4" nzFor="No" nzRequired>
        编号
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="7" [nzErrorTip]="noValidationTpl" nzHasFeedback>
        <input nz-input #noInput="ngModel" name="No" [(ngModel)]="hFunc.no" placeholder="编号" id="No" required
            minlength="5" maxlength="5" [disabled]="hFuncId">
        <ng-template #noValidationTpl let-control>
            <validation-messages [formCtrl]="control"></validation-messages>
        </ng-template>
    </nz-form-control>

    <nz-form-label nz-col [nzSm]="4" nzFor="Status" nzRequired>
        功能状态
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="7" [nzErrorTip]="statusValidationTpl">
        <nz-radio-group #statusRadio="ngModel" name="Status" [(ngModel)]="hFunc.status" [nzButtonStyle]="'solid'"
            [nzSize]="'small'" id="Status">
            <label nz-radio-button [nzValue]="hFuncStatuses[hFuncStatus]" *ngFor="let hFuncStatus of hFuncStatusArr">
                <span>{{ hFuncStatus | localize}}</span>
            </label>
        </nz-radio-group>
        <ng-template #statusValidationTpl let-control>
            <validation-messages [formCtrl]="control"></validation-messages>
        </ng-template>
    </nz-form-control>
</nz-form-item>

<nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="4" nzFor="Name" nzRequired>
        名称
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="18" [nzErrorTip]="surnameValidationTpl" nzHasFeedback>
        <input nz-input #nameInput="ngModel" name="Name" [(ngModel)]="hFunc.name" placeholder="名称" id="Name" required>
        <ng-template #nameValidationTpl let-control>
            <validation-messages [formCtrl]="control"></validation-messages>
        </ng-template>
    </nz-form-control>
</nz-form-item>

<nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="4" nzFor="HFuncType" nzRequired>
        类型
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="4" [nzErrorTip]="typeValidationTpl">
        <nz-select name="HFuncType" [(ngModel)]="hFunc.hFuncType" id="HFuncType">
            <nz-option [nzValue]="hFuncTypes[hFuncType]" [nzLabel]="hFuncType | localize"
                *ngFor="let hFuncType of hFuncTypeArr"></nz-option>
        </nz-select>
        <ng-template #typeValidationTpl let-control>
            <validation-messages [formCtrl]="control"></validation-messages>
        </ng-template>
    </nz-form-control>

    <nz-form-label nz-col [nzSm]="4" nzFor="TypeParameter" nzRequired>
        类型参数
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="3" [nzErrorTip]="typeParameterValidationTpl" nzHasFeedback>
        <input nz-input #typeParameterInput="ngModel" name="TypeParameter" [(ngModel)]="hFunc.typeParameter"
            placeholder="类型参数" id="TypeParameter" required>
        <ng-template #typeParameterValidationTpl let-control>
            <validation-messages [formCtrl]="control"></validation-messages>
        </ng-template>
    </nz-form-control>

    <nz-form-label nz-col [nzSm]="4" nzFor="DefaultValue">
        默认值
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="3" [nzErrorTip]="defaultValueValidationTpl">
        <input nz-input name="DefaultValue" [(ngModel)]="hFunc.defaultValue" placeholder="默认值" id="DefaultValue">
    </nz-form-control>
</nz-form-item>

<nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="4" nzFor="Description" nzRequired>
        功能描述
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="18" [nzErrorTip]="descriptionValidationTpl" nzHasFeedback>
        <textarea nz-input #descriptionTextarea="ngModel" name="Description" [(ngModel)]="hFunc.description"
            placeholder="功能描述" id="Description" required></textarea>
        <ng-template #descriptionValidationTpl let-control>
            <validation-messages [formCtrl]="control"></validation-messages>
        </ng-template>
    </nz-form-control>
</nz-form-item>

<nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="4" nzFor="RiskStatement" nzRequired>
        风险说明
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="18" [nzErrorTip]="riskStatementValidationTpl" nzHasFeedback>
        <textarea nz-input #riskStatementTextarea="ngModel" name="RiskStatement" [(ngModel)]="hFunc.riskStatement"
            placeholder="风险说明" id="RiskStatement" required></textarea>
        <ng-template #riskStatementValidationTpl let-control>
            <validation-messages [formCtrl]="control"></validation-messages>
        </ng-template>
    </nz-form-control>
</nz-form-item>

<nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="4" nzFor="OpenSQL" nzRequired>
        开启脚本
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="18" [nzErrorTip]="openSQLValidationTpl" nzHasFeedback>
        <textarea nz-input #openSQLTextarea="ngModel" name="OpenSQL" [(ngModel)]="hFunc.openSQL" placeholder="开启脚本"
            id="OpenSQL" required></textarea>
        <ng-template #openSQLValidationTpl let-control>
            <validation-messages [formCtrl]="control"></validation-messages>
        </ng-template>
    </nz-form-control>
</nz-form-item>

<nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="4" nzFor="CloseSQL" nzRequired>
        关闭脚本
    </nz-form-label>
    <nz-form-control nz-col [nzSm]="18" [nzErrorTip]="closeSQLValidationTpl" nzHasFeedback>
        <textarea nz-input #closeSQLTextarea="ngModel" name="CloseSQL" [(ngModel)]="hFunc.closeSQL" placeholder="关闭脚本"
            id="CloseSQL" required></textarea>
        <ng-template #closeSQLValidationTpl let-control>
            <validation-messages [formCtrl]="control"></validation-messages>
        </ng-template>
    </nz-form-control>
</nz-form-item>

<div class="modal-footer">
    <button nz-button [nzType]="'default'" type="button" (click)="close($event)" [disabled]="saving">
        {{"Cancel" | localize}}
    </button>
    <button nz-button [nzType]="'primary'" type="submit" [disabled]="!createOrEditModalForm.form.valid || saving"
        [nzLoading]="saving">
        <i nz-icon nzType="save" *ngIf="!saving"></i> {{"Save" | localize}}
    </button>
</div>

</form>